<div class="expenses open" id="{{id}}">
  <header class="expenses-header">Expenses</header>
  <div class="expenses-dd">
    <table class="expenses-dd-header">
      <tr>
        <th>
          <a href="javascript:void(0)" class="sort-by" data-sort-by="name">
            Name
          </a>
        </th>
        <th>
          <a href="javascript:void(0)" class="sort-by" data-sort-by="price">
            Amount
          </a>
        </th>
      </tr>
    </table>
    {{>expenses-list}}
    <table class="expenses-dd-block-action-add">
      <tr>
        <td>
          <input type="text" name="expenses-name">
        </td>
        <td class="no-wrap">
          $
          <input type="text" class="expenses-price" name="expenses-price" pattern="\d*">
          <a href="#" class="btn-expenses-add">
            <i class="icon-plus"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td>
          <span class="expenses-total"></span>
        </td>
      </tr>
    </table>
  </div>
</div>